.about-container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;

    .about-me{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 2rem;
        background-color: linear-gradient(
            45deg,
            transparent,
            var(--color-primary),
            transparent
        );
        display: grid;
        place-items: center;

        .about-image{
            border-radius: 2rem;
            overflow: hidden;
            transform: rotate(10deg);
            transition: var(--transition);

            &:hover{
                transform: rotate(0);
            }
        }

    }

    .about-content{

        .about-cards{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 10px;

            .about-card{
                background: var(--color-primary);
                border: 1px solid transparent;
                border-radius: 1rem;
                padding: 2rem;
                text-align: center;
                transition: var(--transition);
                cursor: default;

                &:hover{
                    background: transparent;
                    border-color: var(--color-primary-variant);
                }

                .about-icon{
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                    background: none;
                }

                h5{
                    font-size: 1rem;
                    color: white;
                    background: none;
                }

                small{
                    font-size: 0.8rem;
                    color: white;
                    background: none;
                }

            }
        }

        p{
            margin: 2rem 0 2.6rem;
            color: var(--color-white);
        }
    }
}

//media queries on tablet
@media screen and (max-width: 1024px) {
    .about-container {
        grid-template-columns: 1fr;
        gap: 0;

        .about-me{
            width: 50%;
            margin: 2rem auto 4rem;
        }

        .about-content{
            p{
                margin: 1rem 0 1.5rem;
            }
        }
    }
}

//media queries on phone
@media screen and (max-width: 600px) {
    .about-container {
        
        .about-me{
            width: 65%;
            margin: 0 auto 3rem;
            margin-bottom: 20px;
        }

        .about-content{
            text-align: center;

            .about-cards{
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }

            p{
                margin: 1.5rem 0;
            }
        }
    }
}