nav{
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

    a{
        background: transparent;
        padding: 0.9rem;
        border-radius: 50%;
        display: flex;
        color: var(--color-white);
        font-size: 1.5rem;

        .icon{
            background:none;
        }

        &:hover{
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

a.active{
    background-color: var(--color-primary);
    color: var(--color-bg);
}